body {
    background-color: rgb(243, 243, 243);
    font-family: 'Montserrat';

}



.box {
    width: 260px;
    height: 250px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: white;
    text-align: center;
    padding-top: 40px;
    margin-top: 60px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
}

.box a {
    margin-top: 40px;
    text-decoration: none;
    color: rgb(66, 66, 66);
}


.box a:hover {
    color: #ff7a59;
    transition: all 300ms ease;
}


p {
    text-align: center;
    margin-top: 10%;
}


form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 18%;
    width: 200px;
    height: 50px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}