<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1> TODOS FOR TODAY: </h1>

<a th:href="@{/list}"> ALL TODOS </a>
<a th:href="@{/assigneeList}"> ASSIGNEES </a>

<form action="list" method="get">
    <input type="text" placeholder="search for todos..." name="searchInput">
    <button type="submit">Search</button>
</form>

<a th:href="@{/add}"> Add new todo </a>

<table>
    <tr>
        <th>ID</th>
        <th>title</th>
        <th>urgent</th>
        <th>done</th>
        <th>assign to: </th>
        <th>created</th>
    </tr>
    <tr th:each="todo : ${todos}" th:object="${todo}">
        <td th:text="*{id}" ></td>
        <td>
            <a th:href="@{/{id}/detail(id=${todo.id})}" th:text="*{title}"/>
        </td>
        <td th:text="*{urgent}" ></td>
        <td th:text="*{done}" ></td>
        <td>
            <a th:href="@{/{id}/detailAssignee(id=*{assignee.getId()})}"   th:text="*{assignee.getName()}" />
        </td>
        <td th:text="*{createDate}" ></td>
        <td>
            <a th:href="@{/{id}/delete(id=${todo.id})}">DELETE</a>
       </td>
        <td>
            <a th:href="@{/{id}/edit(id=${todo.id})}">EDIT</a>
        </td>
    </tr>
</table>

</body>
</html>

<!--
<a th:href="@{/(id=${id})/delete}">DELETE</a>
<th:block th:each="userId: ${userIds}">
    <a th:href="@{/(id=${userId})}"> Delete</a> <br/>
</th:block>

        <td
            <tr th:each="todo: ${todos}" th:object="${todo}">



          <a th:href="@{/(id=*{id})/delete}">DELETE </a>
       </td>

"@{/information(name=${name})}"
-->